<!DOCTYPE HTML>
<html>
<head>
    <title>About</title>

    {{> header}}

    <div class="container">
        <div class="col-sm-9">
            <br>
            <p id="description">
                A sample site used in the Selenium Course by <a href="http://www.thinkcode.se">Think Code AB</a>.
            </p>

        </div>
    </div>

    {{> footer}}
