<!DOCTYPE HTML>
<html>
<head>
    <title>Java script alerts</title>

    {{> header}}

<body>

<script>

    function anAlert() {
        alert('I am an Alert');
        log('You clicked an alert');
    }

    function aConfirmation() {
        var c = confirm('I am a Confirmation');
        var result = c === true ? 'Ok' : 'Cancel';
        log('You clicked: ' + result);
    }

    function aPrompt() {
        var p = prompt('I am a prompt');
        log('You entered: ' + p);
    }

    function log(message) {
        var result = document.getElementById('result');
        result.innerHTML = message;
    }

</script>

<div class="container">
    <div class="col-sm-9">
        <br>
        <p>
            Here are some examples of different JavaScript alerts:
        </p>

        <ul>
            <li>
                <button id="alert" onclick="anAlert()">Click for an alert</button>
            </li>
            <li>
                <button id="confirmation" onclick="aConfirmation()">Click for a confirmation</button>
            </li>
            <li>
                <button id="prompt" onclick="aPrompt()">Click for a prompt</button>
            </li>
        </ul>

        <p>Result:</p>

        <p id='result'></p>
    </div>
</div>

{{> footer}}