<!DOCTYPE HTML>
<html>
<head>
    <title>Buy currency result</title>

    {{> header}}

<body>

<div class="container">
    <div class="col-sm-9">
        <br>
        <p id="result">
            Buying {{amount}} {{toCurrency}} will cost you {{cost}} {{fromCurrency}}.
        </p>

    </div>
</div>

{{> footer}}
