<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/google-search.css" rel="stylesheet">
<script src="/js/jquery-1.11.3.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

</head>

<body>

<div class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <img class="navbar-brand" src="/favicons/favicon-194x194.png" alt="Logo">
        <a href="/" class="navbar-brand">Think Code AB</a>
        <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <div class="collapse navbar-collapse navHeaderCollapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/offerings">Offerings</a></li>
                <li><a href="/clients">Clients</a></li>
                <li><a href="https://thomassundberg.wordpress.com/">Blog</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>
    </div>
</div>