<!DOCTYPE HTML>
<html>
<head>
    <title>Hello, world</title>
</head>

{{> header}}

<body>

<div class="container">
    <div class="col-sm-9">
        <br>
        <h1 id="headline">Hello, world!</h1>
    </div>
</div>

{{> footer}}
