<!DOCTYPE HTML>
<html>
<head>
    <title>Index</title>

    {{> header}}

<body>

<div class="container">
    <div class="col-sm-9">
        <br>
        <p>
            This is a collection of sample web pages that can be used to interact with
            using Selenium.
        </p>

        <ul>
            <li><a id="helloWorld" href="helloWorld">Find an element - hello world</a></li>
            <li><a href="requestPassword.html">Request password - fill out and submit a form</a></li>
            <li><a id="selectColor" href="selectColor">Select color - checkboxes</a></li>
            <li><a href="selectBeverage.html">Select beverage - radio buttons</a></li>
            <li><a id="selectCondiment" href="selectCondiment">Select condiment - drop down select</a></li>
            <li><a href="exchangeRate.html">Slow exchange rate server - wait for an element to appear</a></li>
            <li><a id="alert" href="alert">Pop up - Java script interactions, Alert, Prompt and Confirm</a></li>
            <li><a href="newPopupPage.html" target="_blank">Pop up - New page or tab</a></li>
            <li><a id="buyCurrency" href="buyCurrency">Buy currency - a little bit of everything</a>
            </li>
        </ul>


    </div>
</div>

{{> footer}}
