<!DOCTYPE HTML>
<html>
<head>
    <title>New pop-up</title>

    {{> header}}

<body>

<div class="container">
    <div class="col-sm-9">
        <br>
        <h1 id="headline">Greetings from pop-up!</h1>
    </div>
</div>

{{> footer}}
