<!DOCTYPE HTML>
<html>
<head>
    <title>Confirm new password request</title>

    {{> header}}

    <div class="container">
        <div class="col-sm-9">
            <br>
            <p id="confirmation">
                A new password has been sent to {{account}}
            </p>

        </div>
    </div>

    {{> footer}}
