<!DOCTYPE HTML>
<html>
<head>
    <title>Request new password</title>

    {{> header}}

<body>

<div class="container">
    <div class="col-sm-9">
        <br>
        <form id="conversion" method="post" action="requestPassword">
            <label for="account">Account: <input id="account" type="text"
                                                 name="account">
            </label>
            <br>
            <input type="submit" value="Request new password">
        </form>
    </div>
</div>

{{> footer}}
