<!DOCTYPE HTML>
<html>
<head>
    <title>Select condiment</title>

    {{> header}}

<body>

<div class="container">
    <div class="col-sm-9">
        <br>
        <label for="condiments">Condiment: </label>
        <select id="condiments">
            <option value="none"></option>
            <option value="milk">Milk</option>
            <option value="sugar">Sugar</option>
            <option value="milk & sugar">Milk & Sugar</option>
        </select>
    </div>
</div>

{{> footer}}
